th,
td {
    padding: 0.3em;
}

thead tr *:nth-child(2),
thead tr *:nth-child(3),
tbody tr *:nth-child(2),
tbody tr *:nth-child(3),
tfoot tr th {
    text-align: right;
}

tbody td {
    text-align: left;
}

table {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    /* make border visible fot tfoot  */
    border-collapse: collapse;

}

tfoot {
    border-top: 1px solid #999;
}

tbody tr:nth-child(odd) {
    background-color: #eee;
}